body {
font-family: Arial, sans-serif;
color: #333;
background-color: #f9f9f9;
margin: 0;
padding: 0;
line-height: 1.6;
}

header {
background-color: pink;
color: white;
padding: 20px;
text-align: center;
}

header h1 {
margin: 0;
}

header .navbar-logo {
    padding-top: 5%;
    color: palevioletred;
    text-decoration: none;
    font-weight: 400;
    font-size: xx-large;
    font-family: var(--font-02);

    text-shadow: .5px .5px 3px pink;
    transition: .4s ease;
}

nav a:hover {
text-decoration: underline;
}

main {
padding: 20px;
max-width: 80px;
margin: 0 auto;
}

footer {
background-color: #333;
color: white;
text-align: center;
padding: 10px;
position: fixed;
bottom: 0;
width: 100%;
}

a {
color: #4CAF50;
text-decoration: none;
}





