
@import url('https://fonts.googleapis,com/css2?family=Montserrat&family=Open+Sans&family=Philosopher&family=Poppins:wght@300&display=swap');


@font-face {
  font-family: myFont; /* set name */
  src: url(sansation_light.woff)

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


header {
    position: absolute;
    height: 86px;
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;

}

nav ul li {
    width: 100%;
    padding-bottom: 5px;
    margin-top: 0s;
}

nav ul {
    justify-self: end;
    padding-bottom: 2px;
      position: absolute;
}

header .navbar-logo {
    padding-top: 5%;
    color: palevioletred;
    text-decoration: none;
    font-weight: 400;
    font-size: xx-large;
    font-family: var(--font-02);

    text-shadow: .5px .5px 3px pink;
    transition: .4s ease;
}


header .navbar-logo:hover {
    transform: scale(2.2);
   
}

header ul li{
    padding-bottom: 20px;

}

.navbar ul li{
    list-style: none;
    display: inline;
}

.navbar ul {
    padding-right: 40px;
    position: relative;
    
}

header ul li a {
    font-size: 1.1em;
    padding: 20px 25px;
     text-decoration: none;
     color: white;
     justify-content: space-between;
    font-weight: 500;
    transition: all .4s ease;
}

header ul li a:hover {
    color: pink;
}

footer {
    text-align: center;
    background-color: #1a1a1a;
    color: white;
    padding: 20px;
}

.sectionFirst .FrontPage{
    height: inherit;
    height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-content: baseline;
    gap: 2em;
    max-width: 60%;
}

.sectionFirst::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightslategray;
    z-index: -1;
    opacity: .7;
}

.sectionFirst::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightslategray;
    background-image: url(Image\ \(3\).jfif);
    z-index: -1;
    opacity: .7;
}

.sectionFirst .address {
    color: rgb(233, 51, 81);
    font-family: var(--font-02);
    line-height: 1.2em;
    font-size: 24px;
}

.sectionFirst .FrontPage h2 {
    font-size: 3.24em;
    font-family: var(--font-01);
    font-weight: 400;
    color: white;
}

.sectionFirst .FrontPage .btn {
    margin-top: 3em;
    display: flex;
}

.sectionFirst .FrontPage .btn a {
    border-radius: 7px;
    padding: 17px 30px;
    text-decoration: none;
}

.sectionFirst .FrontPage .btn a:nth-child(1) {
    border: 1px solid rgb(223, 30, 62);
    background-color: rgb(223, 30, 62); 
    color: white;
}

.two-column {
    display: flex;
    gap: 20px;
}

.sidebar {
    background-color: #eee;
    padding: 15px;
    border-radius: 8px;
    border: 3px solid #1a1a1a;
    width: 20%;
    margin-top: 70px;
    background-color: pink;
}

.sidebar ul{
    list-style: none;
    text-align: left;
}

.sectionSecond {
padding: 0 2%;
display: grid;
grid-template-columns: 1fr 1fr;
gap: 2rem;
background-image: url(Image\ \(3\).jfif);
}

.sectionSecond .textinfo {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 100px;
}

.sectionSecond .fourimg{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 4rem 1rem 12rem;
    margin-top: 70px;
}

.sectionSecond .fourimg img{
    width: 100%;
    height: 100%;
    transition: all .4s ease;
    border-radius: 10px;
    margin-top: 0px;
}

.sectionSecond .fourimg img:hover {
    transform: scale(1.1);
}

.sectionSecond .fourimg img:nth-child(n+1) {
    margin-top: 10px;
}

.sectionSecond .textinfo .greet {
    grid-column: 2/2;
    color: lightcoral;
    font-family: var(--font-02);
    font-size: 1.5em;
    line-height: 1.2em;
    margin-top: 90px;
}

.sectionSecond .textinfo .title {
    font-size: 2.5em;
    font-weight: 400;
    font-family: var(--font-02);
}

.sectionSecond .textinfo .btn {
    border: 1px solid rgb(236, 77, 130);
    width: fit-content;
    border-radius: 7px;
    padding: 7px 60px;
    text-decoration: none;
    background-color: rgb(248, 10, 89);
    color: white;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    transition: all .4s ease;
}

.sectionSecond .btn {
    border: 1px solid rgb(236, 77, 130);
    width: fit-content;
    border-radius: 7px;
    height: fit-content;
    text-decoration: none;
    background-color: rgb(248, 10, 89);
    color: white;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    transition: all .4s ease;
    padding: 10px;
    
}

.sectionSecond .textinfo .btn:hover {
    transform: scale(1.1);
    background-color: red;
}

.sectionThird {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 2%;
    background: url(Image\ \(3\).jfif);
}

.sectionThird h2 {
    font-size: 2.5rem;
    font-family: var(--font-02);
    color: white;
    text-align: center;
}

.sectionThird p {
    text-align: center;

}

.sectionThird .servicebox {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 280px));
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
    }

.sectionThird .servicebox .box {
    padding: 3rem 1rem 1rem;
    box-shadow: 0 0 8px 3px pink;
    background-color: white;
    border-radius: 7px;
}

.sectionThird .servicebox .box h2 {
    font-family: var(--font-02);
    line-height: 1.2rem;
    font-size: 1.5rem;
    color: #1a1a1a;
    margin-bottom: 10px;
}

.sectionThird h2 {
    font-family: var(--font-02);
    line-height: 1.2rem;
    font-size: 1.5rem;
    color: #1a1a1a;
    margin-bottom: 10px;
}

    
   



